<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Store" type="com.hlbrc.entity.Store" />	
		<typeAlias alias="Manager" type="com.hlbrc.entity.Manager" />
		<typeAlias alias="Message" type="com.hlbrc.entity.Message" />
		<typeAlias alias="District" type="com.hlbrc.entity.District" />
		<typeAlias alias="City" type="com.hlbrc.entity.City" />
		<typeAlias alias="Privince" type="com.hlbrc.entity.Privince" />
		<typeAlias alias="Profileimg" type="com.hlbrc.entity.Profileimg" />
	</typeAliases>
	<mappers>
		<mapper resource="com/hlbrc/mapper/StoreMapper.xml" />
		<mapper resource="com/hlbrc/mapper/ManagerMapper.xml" />
		<mapper resource="com/hlbrc/mapper/MessageMapper.xml" />
		<mapper resource="com/hlbrc/mapper/ProfileimgMapper.xml" />
		<mapper resource="com/hlbrc/mapper/AddressMapper.xml" />
		<mapper resource="com/hlbrc/mapper/PrivinceMapper.xml" />
		<mapper resource="com/hlbrc/mapper/CityMapper.xml" />
		<mapper resource="com/hlbrc/mapper/DistrictMapper.xml" />
		<mapper resource="com/hlbrc/mapper/AccountgroupMapper.xml" />
		<mapper resource="com/hlbrc/mapper/BrandMapper.xml" />
		<mapper resource="com/hlbrc/mapper/DiscountcouponMapper.xml" />
		<mapper resource="com/hlbrc/mapper/GoodsclassMapper.xml" />
		<mapper resource="com/hlbrc/mapper/GoodsdetailMapper.xml" />
		<mapper resource="com/hlbrc/mapper/GoodspackagingMapper.xml" />
		<mapper resource="com/hlbrc/mapper/GoodsphotoMapper.xml" />
		<mapper resource="com/hlbrc/mapper/GoodspropertyMapper.xml" />
		<mapper resource="com/hlbrc/mapper/MyorderMapper.xml" />
		<mapper resource="com/hlbrc/mapper/NoticeMapper.xml" />
		<mapper resource="com/hlbrc/mapper/OrderdetailMapper.xml" />
		<mapper resource="com/hlbrc/mapper/ProductMapper.xml" />
		<mapper resource="com/hlbrc/mapper/ShopcarMapper.xml" />
		<mapper resource="com/hlbrc/mapper/UsercollectMapper.xml" />
		<mapper resource="com/hlbrc/mapper/UserfuntionMapper.xml" />
		<mapper resource="com/hlbrc/mapper/UserMapper.xml" />
	</mappers>
</configuration>

